<!DOCTYPE html>

<html>

<head>
        <link rel="stylesheet" href="./css/style.css">
</head
    <body>
        {{>header}}
       
        <p> This website was created by Aditya. It uses data from mapbox.com and darksky.net</p>
         {{>footer}}
    </body>

</html>     